{% extends 'authentication/base.html' %}
{% block title %}Reset Password - PyCMS{% endblock %}
{% block content %}
<style>
    .errorlist {
        color: red;
        opacity: 50%;
    }
</style>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <div class="card">
                    <div class="card-content">
                        <h1 class="title has-text-centered">Reset your password</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control has-icons-left">
                                    {{form.password1}}{{form.password1.errors}}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Confirm Password</label>
                                <div class="control has-icons-left">
                                    {{form.password2}}{{form.password2.errors}}
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field is-centered">
                                <div class="control has-text-centered">
                                    <button class="button is-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}