{% extends 'authentication/base.html' %}
{% block title %}Home - PyCMS{% endblock %}
{% block content %}
{% load markdown %}
{% load custom_filter %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline is-variable is-3-desktop is-4-tablet">
            {% for post in posts %}
            <div class="column is-4">
                <div class="box" style="height: 300px; overflow: hidden;">
                    <h1 class="title">{{ post.title }}</h1>
                    <p class="subtitle">{{ post.created_at|date }}</p>
                    <p class="subtitle is-size-7">{{ post.created_at|format_datetime}}</p>
                    <div class="content">{{ post.content|truncatewords_html:5|md }}</div>
                    <a href="{% url 'post' post.id post.title|slugify %}">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}